<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PortfolioProjecten</title>
    <link rel="stylesheet" href="styles/top-bar-style.css">
    <link rel="stylesheet" href="styles/styles-portfolio-projects.css">
</head>
<body>

    <!--Top bar-->
    <section class="top-bar">
        <div class="left-side">
            <div class="nav-link-wrapper">
                <a href="/">Home</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="/cv.html">Curriculum Vitae</a>
            </div>
            <div class="nav-link-wrapper">
                <a href="/portfolio.html">Portfolio</a>
            </div>
        </div>

        <!--Language choices here-->

        <a class="right-side" href="/#sec-about">
            <h1 class="top-bar-about">about</h2>
                <span class="top-bar-name">Teun Leenders</span>
        </a>
    </section>

    <div class="main-body">
        <div class="working-on">
            This page is under construction
        </div>
        <div class="come-later">
            Please come back later:)
        </div>
    </div>
</body>
</html>