<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="top-bar-style.css">
</head>
<body>
    <!--Top bar-->
    <template class="top-bar">
        <div class="left-side">
            <div class="nav-link-wrapper">
                <a href="./views/index.ejs">Home</a>
            </div>

            <div class="nav-link-wrapper">
                <a href="./views/cv.html">Curriculum Vitae</a>
            </div>
            <div class="nav-link-wrapper">
                <a href="./views/portfolio.html">Portfolio</a>
            </div>
        </div>

        <!--Language choices here-->

        <a class="right-side" href="index.html#sec-about">
            <h1 class="top-bar-about">about</h2>
            <span class="top-bar-name">Teun Leenders</span>
        </a>
    </template>
</body>