body {
    margin: 0px;
    color: white;
    background-color: rgb(26, 26, 26);  
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.main-body{
    padding-top: 10%;
    font-family: monospace;
    overflow: auto;

    background-image: url(/images/ball.png);
    background-position-x: center;
    background-size: 100% cover;
}

.first-sight {
    text-transform: uppercase;
    text-align: center;
}

.logo-circle {
    background: #24bd75;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.logo-circle-img {
    width:  150px;
    height: 150px;
}

.name-text {
    font-size: 3em;
    padding-top: 1.5%;
}

.role-text {
    padding-top: 1.5%;
    color:rgb(189, 189, 189);
    font-size: 2em;
    text-transform: uppercase;
    text-decoration-line: underline overline;
    text-underline-offset: 10px;
}

.home-about {
    position: center;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    background-color: #1a1a1acc;
}

.home-textandimage {
    display: flex;
}

.about-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin: 10px;
    margin-right: 100px;
    padding-left: 100px;
}

.about-image {
    margin: 10px;
    padding: 100px;
    background-image: url(/images/teun_2_zoom.jpg);
    background-repeat: no-repeat;
    background-size: contain;    
}

.about-socials {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.about-socials a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.bottom-text {
    display: flex;
    justify-content: center;
    color: #8a8a8a;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 0.5em;
}

